body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
}
.header h1 {
    text-align: center;
    margin-bottom: 20px;
}

.navigation {
    margin-bottom: 20px;
}

.navigation button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    width: 150px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.content table, .content th, .content td {
    border: 1px solid #ddd;
}

.content th, .content td {
    padding: 10px;
    text-align: left;
}

.content th {
    background-color: #f2f2f2;
}

.footer {
    margin-top: 20px;
}
.footer button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
   
}